### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
uploads/


### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# node
node_modules/
dist/
build/

# env
.env
.env.local

# datasets / notebooks
Clothes AI/
Clothes AI/
*.tsv
*.zip
*.7z
